/*
Author:Jovensky Saint-Hilaire
Date:11/2/22
File Name: apply
*/

/* CSS Reset */
body, main, footer, table{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc;
    
}

table{
	width: 80%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid , #fd4d0c;
   
}

table, tr, th, td{
	border-collapse: collapse;
	padding: 2%;
    box-shadow:#792101;
    
}

th,td{
	border:1px solid #a22c02 ;
    box-shadow:#792101;
}

td{
	text-align: center;
    font-family: sans-serif;
    
}

tr:nth-child(odd) {
	background-color: #fe9772;
    
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
   
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}